*::selection{
    background-color: #2292a4;
    color: white;
}
h1{
    font-family: 'Mukta', sans-serif;
}
p{
    font-family: 'Mukta', sans-serif;

}
h2{
    font-family: 'Mukta', sans-serif;
}
a{
    font-family: 'Mukta', sans-serif;
    color: #2292a4;
}
a:hover{
    color: #2293a499;
}
a:active{
    color: #12464e;
}

h1 span{
    background-color: #2293a42f;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #2293a4;
    
}
.container1{
    
    width: fit-content;
    margin: auto;
    margin-top: 0px;
    display: flex;
    padding: -15px 15px 0px -15px;
    margin-bottom: 30px;
}
 .foto img{
    width: 80px;
    border-radius: 50%;
    margin-top: 25px;
    margin-right: 8px;
}
.tekst h2{
    font-size: 50px;
    font-family: 'Mukta', light;
    font-weight: 400;
    line-height: 50px;
}
.header{
    
    width: fit-content;
    margin: auto;
    margin-top: -30px;
    font-family: 'Mukta', sans-serif;
    line-height: 60px;

}
h1{
    font-size: 50px;
    text-align: center;
}
.permbajtja{
    background-color: #f5efed;
    width: 70%;
    margin: auto;
    padding: px 40px;
    text-align: center;
    border-radius: 20px;
}
.first-paragraph{
    width: 60%;
    margin: auto;
    text-align: justify;
}
.permbajtja h1{
    line-height: 40px;
    padding-top: 30px;
}
.container2{
    display: flex;
    width: fit-content;
    margin: auto;
}
.list{
    list-style-position: inside;
    width: fit-content;
    text-align: left;
    margin-right: 10px;
}
.list2{
    margin-left: 10px;
    text-align: left;
}
.videot{
    padding: 25px 0px 25px 25px;
    
}
.container3{
    width: 70%;
    height: 500px;
    margin: auto;
    display: flex;

}
.contactform{
    
    width: 40%;
    height: 90%;
    margin-right: 20px;
    margin: auto;
}
.map{
    margin-left: 20px;
    width: 40%;
    height: 85%;
    margin: auto;
    border: 2px solid black;
}
fieldset{
    border-radius: 20px;
    background-color: #f5efed;
    border: 1px solid #2292a4;
    height: 100%;
    margin-top: -18px;
}
legend h3{
    background-color: #2292a4;
    color: white;
    padding: 3px 7px;
    border-radius: 10px;
    font-family: 'Mukta', sans-serif;
}
#fieldset2{
    width: fit-content;
}
#list{
    background-color: #2293a42f;
    padding: 10px;
    border-radius: 20px;
    box-shadow: ;
}
#list2{
    background-color: #2293a42f;
    padding: 10px;
    border-radius: 20px;
    list-style-position: inside;
}
.olderversions {
    display: block;
    border-radius: 10px;
    background-color: #2292a4;
    text-align: center;
    padding: 5px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
.olderversions a{
    color: white;

}