:root{
  --header-font: 'Mukta', sans-serif;
  --paragraph-font: 'Mukta', sans-serif;
  --header-weight: bold;
  --paragraph-weight: normal;
  --important-text-color: ;
}

h1{
  font-family: var(--header-font);
  font-weight: var(--header-weight);
  margin-bottom: -30px;
}
header p{
  font-family: var(--paragraph-font);
  font-weight: var(--header-weight);
  display: block;
  background-color: #2293a42f;
  color: #2293a4;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px 5px;
  border-radius: 5px;

}
header h1{
  font-size: 60px;
}
header{
  text-align: center;
}
.parent{
  width: 70%;
  text-align: center;
  list-style-position: inside;
  margin: auto;
  padding: 30px 0px 30px 0px;
  border-radius: 20px;

}
td > li{
  list-style-type: none;
  font-family: var(--header-font);
  font-weight: var(--header-weight);
  color: #2293a4;
}
li{
  text-align: left;
}
.container-left{
  text-align: center;
  margin-right: 10px;
  display: inline-block;
   width:40%;
   background-color: #2293a42f;
   border-radius: 20px;
   padding: 10px;
}
.container-right{
  display: inline-block;
  background-color: #2293a42f;
   border-radius: 20px;
   padding: 10px;
  
  margin-left: 10px;
  width: 40%;
}
h1 p {
  font-family: var(--paragraph-font);
  font-weight: var(--paragraph-weight);
  margin-top: -5px;
}