:root{
  --header-font: 'Mukta', sans-serif;
  --paragraph-font: 'Mukta', sans-serif;
  --header-weight: bold;
  --paragraph-weight: normal;
}

h1{
  font-family: var(--header-font);
  font-weight: var(--header-weight);
}
header p{
  font-family: var(--paragraph-font);
  font-weight: var(--paragraph-weight);
  
}
header{
  text-align: center;
}
.parent{
  background-color: beige;
  width: 100%;
  text-align: center;
  list-style-position: inside;
}
td > li{
  list-style-type: none;
  font-family: var(--header-font);
  font-weight: var(--header-weight);
}
li{
  text-align: left;
}
.container-left{
  text-align: center;
  margin: 20px;
  display: inline-block;
   border: 1px solid red;
   width:40%;
}
.container-right{
  display: inline-block;
  border: 1px solid orange;
  width: 40%;
}