:root{
    --header-font: 'Mukta', sans-serif;
    --paragraph-font: 'Mukta', sans-serif;
    --header-weight: bold;
    --paragraph-weight: normal;
    --important-text-color: #2293a4 ;
    --default-background-color: #2293a42f;
    --header-size: 60px;
  }
  p{
    font-family: var(--paragraph-font);
    line-height: 20px;
  }
  h1{
    font-family: var(--header-font);
    font-weight: var(--header-weight);
    line-height: 25px;

  
  }
  header p{
    font-family: var(--paragraph-font);
    font-weight: var(--header-weight);
    display: block;
    background-color: #2293a42f;
    color: var(--important-text-color);
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px 5px;
    border-radius: 5px;
  
  }
  header h1{
    font-size: var(--header-size);
    margin-bottom: 20px;
  }
  header{
    text-align: center;
  }

  main{
    display: grid;
    grid-template: 1fr/1fr 1fr;
    overflow: hidden;
    justify-items: center;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.075);

  }
  .element1 h1, .element2 h1{
    font-family: var(--paragraph-font);
    font-weight: var(--header-weight);
    display: block;
    background-color: #2293a42f;
    color: var(--important-text-color);
    width: fit-content;
    padding: 5px 5px;
    border-radius: 5px;
  }
  ul{
    font-family: var(--paragraph-font);
    font-weight: var(--header-weight);
  }
  ul > ul{

    font-weight: var(--paragraph-weight);
  }
  section{
    margin: 30px auto ;
    width: 70%;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    gap: 30px;
  }
  /* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
  
}


  
