:root{
    --header-font: 'Mukta', sans-serif;
    --paragraph-font: 'Mukta', sans-serif;
    --header-weight: bold;
    --paragraph-weight: normal;
    --important-text-color: #2293a4 ;
    --default-background-color: #2293a42f;
    --header-size: 60px;
  }
  p{
    font-family: var(--paragraph-font);
    line-height: 20px;
  }
  h1{
    font-family: var(--header-font);
    font-weight: var(--header-weight);
    line-height: 25px;

  
  }
  header p{
    font-family: var(--paragraph-font);
    font-weight: var(--header-weight);
    display: block;
    background-color: #2293a42f;
    color: var(--important-text-color);
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px 5px;
    border-radius: 5px;
  
  }
  header h1{
    font-size: var(--header-size);
    margin-bottom: 20px;
  }
  header{
    text-align: center;
  }

  main{
    display: flex;
    overflow: hidden;
    justify-items: center;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.075);
    

  }
  main h1{
    font-family: var(--paragraph-font);
    font-weight: var(--header-weight);
    display: block;
    background-color: #2293a42f;
    color: var(--important-text-color);
    width: fit-content;
    padding: 5px 5px;
    border-radius: 5px;
  }
  .titulli1{
    grid-row: 1/2;
    grid-column: 1/3;

  }
  .titulli2{
    grid-row: 1/2;
    grid-column: 3/4;
  }
  ul{
    font-family: var(--paragraph-font);
    font-weight: var(--header-weight);
  }
  ul > ul{

    font-weight: var(--paragraph-weight);
  }
  section{
    margin: 30px auto ;
    width: 70%;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    gap: 30px;
  }
 
  .list2v, .list0{
    margin-top: 95px;
  }
  .sticky{
    width: fit-content;
    padding: 2px;
    margin: 20px auto;
    border-radius: 10px;
    position: sticky;
    background-color: var(--default-background-color);
    color: var(--important-text-color);
    top: 0px;
  }
  .popup{
    display: inline-block;
    background-color: var(--default-background-color);
    color: var(--important-text-color);
    position: fixed;
    top: 30px;
    right: 300px;
    font-size: 10px;
    padding: 0px 15px;
    border-radius: 10px;
  }
  .dropdown-menu{
    position: fixed;
    top:30px;
    left: 250px;
    transition-property: all;
    transition-delay: 0.01s;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    
  }
  .dropdown-menu ul{
    margin: auto;
    display: flex;
    width: 100px;
    align-content: center;
    flex-direction: column;
    list-style-type: none;
  }
  .hiddenlist{
    transition-property: all;
    transition-delay: 0.01s;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  ul .hiddenlist{
    overflow: hidden;
    align-content: center;
    height: 0.1px;
    width: 130px;
    background-color: #ebebeb;
   
    margin-left: -40px;
  }
  .dropdown-menu ul:hover .hiddenlist{
      height: 20px;
  }
  
  @keyframes myAnim {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
  
    10% {
      transform: rotate(8deg);
    }
  
    20%,
    40%,
    60% {
      transform: rotate(-10deg);
    }
  
    30%,
    50%,
    70% {
      transform: rotate(10deg);
    }
  
    80% {
      transform: rotate(-8deg);
    }
  
    90% {
      transform: rotate(8deg);
    }
  }
  .animations{
    animation: myAnim 2s cubic-bezier(0.11, 0, 0.5, 0) 0s infinite normal forwards;
    justify-self: center;
    text-align: center;
    color: var(--important-text-color);
  }
  /* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
  
}


  
